<a href="https://colab.research.google.com/github/Skyy777/ANUDIP_programs/blob/main/DAVIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("--- Arithmetic Operators ---")
a = 10
b = 3
print(f"a + b = {a + b}") # Addition
print(f"a - b = {a - b}") # Subtraction
print(f"a * b = {a * b}") # Multiplication
print(f"a / b = {a / b}") # Division
print(f"a % b = {a % b}") # Modulus
print(f"a ** b = {a ** b}") # Exponentiation
print(f"a // b = {a // b}") # Floor Division

print("\n--- Comparison Operators ---")
x = 10
y = 12
print(f"x == y: {x == y}") # Equal
print(f"x != y: {x != y}") # Not equal
print(f"x > y: {x > y}")  # Greater than
print(f"x < y: {x < y}")  # Less than
print(f"x >= y: {x >= y}") # Greater than or equal to
print(f"x <= y: {x <= y}") # Less than or equal to

print("\n--- Logical Operators ---")
p = True
q = False
print(f"p and q: {p and q}") # Logical AND
print(f"p or q: {p or q}")  # Logical OR
print(f"not p: {not p}")   # Logical NOT

print("\n--- Assignment Operators ---")
c = 5
print(f"Initial c: {c}")
c += 3 # c = c + 3
print(f"c += 3: {c}")
c -= 2 # c = c - 2
print(f"c -= 2: {c}")
c *= 4 # c = c * 4
print(f"c *= 4: {c}")
c /= 2 # c = c / 2
print(f"c /= 2: {c}")

print("\n--- Identity Operators ---")
l1 = [1, 2, 3]
l2 = [1, 2, 3]
l3 = l1
print(f"l1 is l2: {l1 is l2}")     # False, different objects
print(f"l1 is l3: {l1 is l3}")     # True, same object
print(f"l1 is not l2: {l1 is not l2}") # True

print("\n--- Membership Operators ---")
my_list = [10, 20, 30, 40]
print(f"20 in my_list: {20 in my_list}")     # True
print(f"50 in my_list: {50 in my_list}")     # False
print(f"30 not in my_list: {30 not in my_list}") # False

print("\n--- Bitwise Operators ---")
d = 5  # 0101 in binary
e = 3  # 0011 in binary
print(f"d & e (AND): {d & e}") # 0001 = 1
print(f"d | e (OR): {d | e}")  # 0111 = 7
print(f"d ^ e (XOR): {d ^ e}") # 0110 = 6
print(f"~d (NOT): {~d}")     # -(d+1) = -6 (for positive numbers)
print(f"d << 1 (Left Shift): {d << 1}") # 1010 = 10
print(f"d >> 1 (Right Shift): {d >> 1}") # 0010 = 2

--- Arithmetic Operators ---
a + b = 13
a - b = 7
a * b = 30
a / b = 3.3333333333333335
a % b = 1
a ** b = 1000
a // b = 3

--- Comparison Operators ---
x == y: False
x != y: True
x > y: False
x < y: True
x >= y: False
x <= y: True

--- Logical Operators ---
p and q: False
p or q: True
not p: False

--- Assignment Operators ---
Initial c: 5
c += 3: 8
c -= 2: 6
c *= 4: 24
c /= 2: 12.0

--- Identity Operators ---
l1 is l2: False
l1 is l3: True
l1 is not l2: True

--- Membership Operators ---
20 in my_list: True
50 in my_list: False
30 not in my_list: False

--- Bitwise Operators ---
d & e (AND): 1
d | e (OR): 7
d ^ e (XOR): 6
~d (NOT): -6
d << 1 (Left Shift): 10
d >> 1 (Right Shift): 2

In [ ]:
user_input = input("Please enter something: ")
print(f"You entered: {user_input}")

In [3]:
from IPython.display import display, HTML

# Create a list of dictionaries for each variable
variables_data = [
    {'Name': 'a', 'Type': 'int', 'Value': '10'},
    {'Name': 'b', 'Type': 'int', 'Value': '3'},
    {'Name': 'c', 'Type': 'float', 'Value': '12.0'},
    {'Name': 'd', 'Type': 'int', 'Value': '5'},
    {'Name': 'e', 'Type': 'int', 'Value': '3'},
    {'Name': 'l1', 'Type': 'list', 'Value': '[1, 2, 3]'},
    {'Name': 'l2', 'Type': 'list', 'Value': '[1, 2, 3]'},
    {'Name': 'l3', 'Type': 'list', 'Value': '[1, 2, 3]'},
    {'Name': 'my_list', 'Type': 'list', 'Value': '[10, 20, 30, 40]'},
    {'Name': 'p', 'Type': 'bool', 'Value': 'True'},
    {'Name': 'q', 'Type': 'bool', 'Value': 'False'},
    {'Name': 'x', 'Type': 'int', 'Value': '10'},
    {'Name': 'y', 'Type': 'int', 'Value': '12'}
]

# Convert the list of dictionaries to an HTML table
html_table = "<table>\n"
html_table += "  <tr><th>Name</th><th>Type</th><th>Value</th></tr>\n"
for var in variables_data:
    html_table += f"  <tr><td>{var['Name']}</td><td>{var['Type']}</td><td>{var['Value']}</td></tr>\n"
html_table += "</table>"

# Display the HTML table
display(HTML(html_table))

In [2]:
# Simple if statement
score = 75
if score >= 60:
    print(f"Your score is {score}. You passed!")

# if-else statement
temperature = 25
if temperature > 30:
    print(f"The temperature is {temperature}°C. It's hot outside!")
else:
    print(f"The temperature is {temperature}°C. It's not too hot.")

# if-elif-else statement
marks = 85
if marks >= 90:
    print(f"Your marks are {marks}. Grade: A")
elif marks >= 80:
    print(f"Your marks are {marks}. Grade: B")
elif marks >= 70:
    print(f"Your marks are {marks}. Grade: C")
else:
    print(f"Your marks are {marks}. Grade: F")

# Nested if statements
num = 10
if num > 0:
    print(f"{num} is a positive number.")
    if num % 2 == 0:
        print(f"{num} is also an even number.")
    else:
        print(f"{num} is also an odd number.")
else:
    print(f"{num} is not a positive number.")

Your score is 75. You passed!
The temperature is 25°C. It's not too hot.
Your marks are 85. Grade: B
10 is a positive number.
10 is also an even number.

In [5]:
# check the result if pass or fail
marks = int (input ("Enter your Marks"))
if marks >= 45:
    print(f"Your marks are {marks}. Ressult: Pass")
else:
    print(f"Your marks are {marks}. Result: Fail")

Enter your Marks45
Your marks are 45. Ressult: Pass

In [6]:
# --- For loop ---
print("--- For Loop Examples ---")

# Looping through a list
fruits = ["apple", "banana", "cherry"]
print("Fruits:")
for fruit in fruits:
    print(fruit)

# Looping through a string
word = "Python"
print("\nCharacters in 'Python':")
for char in word:
    print(char)

# Looping using range()
print("\nNumbers from 0 to 4:")
for i in range(5):
    print(i)

# Looping with start, stop, step
print("\nNumbers from 2 to 9 with step 2:")
for i in range(2, 10, 2):
    print(i)

# Looping through a dictionary
person = {"name": "Alice", "age": 30, "city": "New York"}
print("\nPerson details (keys):")
for key in person:
    print(key)

print("\nPerson details (values):")
for value in person.values():
    print(value)

print("\nPerson details (items):")
for key, value in person.items():
    print(f"{key}: {value}")

--- For Loop Examples ---
Fruits:
apple
banana
cherry

Characters in 'Python':
P
y
t
h
o
n

Numbers from 0 to 4:
0
1
2
3
4

Numbers from 2 to 9 with step 2:
2
4
6
8

Person details (keys):
name
age
city

Person details (values):
Alice
30
New York

Person details (items):
name: Alice
age: 30
city: New York

In [7]:
# --- While loop ---
print("\n--- While Loop Examples ---")

# Simple while loop
count = 0
print("Counting to 3:")
while count < 3:
    print(count)
    count += 1

# While loop with break
num = 1
print("\nNumbers (break at 4):")
while True:
    print(num)
    if num == 4:
        break
    num += 1

# While loop with continue
i = 0
print("\nNumbers (skip 2):")
while i < 5:
    i += 1
    if i == 2:
        continue
    print(i)

--- While Loop Examples ---
Counting to 3:
0
1
2

Numbers (break at 4):
1
2
3
4

Numbers (skip 2):
1
3
4
5

In [8]:
print("\nNumbers from 0 to 5:")
for i in range(6):
    print(i)

Numbers from 0 to 5:
0
1
2
3
4
5

In [12]:
for i in range(1, 6):
 print(i)

1
2
3
4
5

In [14]:
for i in range (5):
  print ("Skyy")

Skyy
Skyy
Skyy
Skyy
Skyy

In [1]:
# for multiple users
for i in range(1, 6):
    marks = int(input(f"enter marks {i}:"))
    if marks >= 45:
        print(f"Your marks are {marks}. Ressult: Pass")
    else:
        print(f"Your marks are {marks}. Result: Fail")

enter marks 1:44
Your marks are 44. Result: Fail
enter marks 2:55
Your marks are 55. Ressult: Pass
enter marks 3:66
Your marks are 66. Ressult: Pass
enter marks 4:63
Your marks are 63. Ressult: Pass
enter marks 5:76
Your marks are 76. Ressult: Pass